.cardList {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 2500px;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.card {
    margin: 10px;
    border-radius: 15px;
    padding-top: 36px;
    box-shadow: 0px 2px 12px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.cardImg {
    position: relative;
    margin-bottom: 5px;
}

.filterWrapperBtn {
    display: flex;
    justify-content: right;
}

.filter-btn {
    position: fixed;
    bottom: 4px;
    width: 48px;
    height: 47px;
    background: #896043;
    border-radius: 62%;
}

.cardContent {
    padding-left: 10px;
    padding-right: 10px;
}

.cardContentDesc {
    max-width: 285px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 39px;
    display: flex;
    justify-content: center;
}

.cardContentPrice {
    margin-bottom: 16px;
}

.cardNoActive {
    color: #8d8d8d;
}

.titleText {
    display: flex;
    justify-content: center;
    max-width: 285px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 30px;
}

.priceText {
    display: flex;
    justify-content: center;
}

.stockText {
    margin-top: -20px;
    color: #8d8d8d;
    display: flex;
    justify-content: center;
}


.buttonBottom {
    margin-bottom: 5px !important;
}

.cardContent {
    padding-left: 10px;
    padding-right: 10px;
}

.cardContentNoActive {
    padding-left: 10px;
    padding-right: 10px;
    color: #8d8d8d;
}

.redirectCardTitle {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (max-width: 385px) and (min-width: 383px) {
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (max-width: 642px) and (min-width: 640px){
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (max-width: 321px) and (min-width: 319px) {
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (max-width: 481px) and (min-width: 479px){
   .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (min-width: 500px) and (max-width: 720px){
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media screen and (min-width: 200px) and (max-width: 653px){
    .cardList {
        margin: 0;
        width: unset;
    }
}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
    .cardList {
        margin: 0;
        width: unset;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .cardList {
        margin: 0;
        width: unset;
    }
}

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
   
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .cardList {
        margin: 0;
        width: unset;
    }
}