.card-list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 2500px;
    margin-left: 70px;
    margin-right: 70px;
}

.card {
    margin: 10;
}

.card-img {
    height: 200px;
    margin-bottom: 5px;
    position: relative;
}

.filter-wrapper-btn {
    display: flex;
    justify-content: right;
}

.filter-btn {
    position: fixed;
    bottom: 4px;
    width: 48px;
    height: 47px;
    background: #896043;
    border-radius: 62%;
}

.card-content {
    padding-left: 10px;
    padding-right: 10px;
}

.card-content-desc {
    display: -webkit-box;
    max-width: 285px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 39px;
}

.card-content-price {
    margin-bottom: 16px;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .card-list {
        margin: 0;
    }
}