.wrapper {
    margin: 0 auto;
    margin-top: 50px;
}

.basket-container {
    display: flex;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    flex-flow: wrap;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 32px;
}

.basket-element {
    padding: 10px;
    width: 195px;
}

.product-info-wrapper {
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-quantity {
    display: flex;
    justify-content: space-evenly;
}

.basket-price {
    padding-top: 40px;
    /* display: flex; */
    justify-content: right;
    font-size: 20px;
}

.wrapper-basket-list {
    display: flex;
    justify-content: center;
    /* margin-right: 330px; */
    /* margin-right: 585px;
    margin-left: 250px; */
}

.container-basket-list {
    margin-right: 34px;
}

.total-card {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 152px;
}

.empty-basket {
    margin-top: 247px;
    font-size: 35px;
    margin-bottom: 26px;
}

.description {
    display: -webkit-box;
    max-width: 285px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}


@media screen and (max-width: 385px) and (min-width: 383px) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (max-width: 642px) and (min-width: 640px){
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (max-width: 321px) and (min-width: 319px) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (max-width: 481px) and (min-width: 479px){
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (min-width: 500px) and (max-width: 720px){
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media screen and (min-width: 200px) and (max-width: 653px){
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .basket-total-card {
        display: none;
    }

    .container-basket-list {
        margin: 0;
    }

    .basket-element {
        width: 150px;
    }

    .wrapper-basket-list {
        margin-right: unset;
        margin-left: unset;
    }
}