.wrapper {
    margin: 0 auto;
    margin-top: 50px;
}

.basket-container {
    display: flex;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    width: 55vmax;
    margin-bottom: 25px;
}

.basket-element {
    padding: 10px;
    width: 150px;
}

.product-info-wrapper {
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket-quantity {
    display: flex;
    justify-content: space-evenly;
}

.basket-price {
    padding-top: 39px;
    display: flex;
    justify-content: right;
    font-size: 20px;
}