.wrapButton {
    display: flex;
    justify-content: center;
}

.modalBeerContent {
    flex-flow: wrap;
}

.modalBeerImg {
    height: 202px;
    margin-bottom: 25px;
}

.modalBeerDesc {
    width: 100%;
}

.modalBeerInfo {
    width: 63%;
    margin-bottom: 15px;
}

.labelInfo {
    font-weight: bold;
}

.buyBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.quantity {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.disableText {
    color: #8d8d8d;;
}