.sortPanelWrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sortMobile {
    display: none;
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
   .sortDesktop {
        display: none;
   }
   .sortMobile {
        display: flex;
   }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
   }
}

@media screen and (max-width: 385px) and (min-width: 383px) {
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
   }
}

@media screen and (max-width: 642px) and (min-width: 640px){
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
   }
}

@media screen and (max-width: 321px) and (min-width: 319px) {
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
    }
}

@media screen and (max-width: 481px) and (min-width: 479px){
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
    }
}

@media screen and (min-width: 500px) and (max-width: 720px){
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
    }
}

@media screen and (min-width: 200px) and (max-width: 653px){
    .sortDesktop {
        display: none;
    }
    .sortMobile {
        display: flex;
    }
}