body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-body {
  height: calc(171vh - 866px);
  overflow-x: hidden;
  overflow-y: scroll;  
  padding-bottom: 80;
}

.list-body::-webkit-scrollbar {
  width: 11px;
  background: #F4F4F4;
  border-radius: 10px;
}

.list-body::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
}